* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  color: #b3b3b3;
  text-align: center;
  padding-left: 0px;
  padding-right: 2px;
 
  
}

img{
  margin: 0;
  width: 100%;
  height: auto;
  padding: 10px;
  /* -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); */
}

/* .image-wrapper__name-photos-link {
  padding: 5px;
} */

a {
  text-decoration: none;
  color: #b3b3b3;
}

h1 {
 font-size: 3.2rem;
 padding: 40px;
 font-family: "Times New Roman",Times,serif;
 letter-spacing: 3px;
 text-transform: capitalize;
 font-weight: 600;
 line-height: 1.25em;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
 font-weight: 300;
 font-size: 22px;
}

header a:hover {
  color: gray;
}
header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0%;
    padding-right: 0%;
    background-color: #fff;
}
nav {
  padding-bottom: 30px;
}

nav a:hover {
  color: gray;
  letter-spacing: 3px;
  font-weight: bold;
}

.main-wrapper {
  padding: 0px 10px 20px;
}
main {
  background:#f7f5f5;
  width: 100%;
  padding:10px 10px 20px;
  display: flex;
}

.column {
  flex: 25%;
  max-width: 25%;
}

a

footer {
  padding-top: 70px;
  width: 100%;
  background-color: #fff;
}

.header_nav-wrapper_links {
  list-style-type: none;

}

.header_nav-wrapper_links a{
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px;
  display: inline-block;
  color: #b3b3b3;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  line-height: 1em;
}



.image-wrapper__name-photos {
  display: flex;
  /* padding: 10px 10px; */
}


.image-wrapper__name-photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;

}

@media screen and (max-width: 800px) {
  .image-wrapper__name-photos {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .image-wrapper__name-photos {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}